.H1OfsectionOne{
    color: #2C2E3D;
    margin-left: 48px;
    margin-top: 32px;
    font-size: 84px;
}
.H2OfsectionOne{
    color: #0D707D;
    margin-left: 48px;
    font-size: 36px;
    font-weight: lighter;
}